/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.wrap {
  font-family: Arial, Helvetica, sans-serif;
  width: 1024px;
  margin: 0 auto;
}

.header {
  background: url(../images/banner.png) no-repeat 50% 0px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 112px;
}
.header h1 a {
  display: block;
  color: #fff;
  font-size: 40px;
  letter-spacing: 3.89px;
  margin-top: 89px;
  margin-bottom: 96px;
}
.header select {
  width: 44%;
  font-size: 18px;
  font-weight: bold;
  padding: 13px;
  background: #ffffffb2;
  border: 3px solid #fff;
  margin-bottom: 107px;
}

.trendArea {
  width: 78.1%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  top: 352px;
}
.trendArea h3 {
  font-size: 18px 26px;
  font-weight: bold;
  margin-bottom: 14px;
}
.trendArea .btns {
  display: flex;
  justify-content: space-evenly;
}
.trendArea a {
  color: #fff;
  font-size: 20px;
  padding: 11px 35px;
  border-radius: 5px;
  border: none;
}
.trendArea a:hover {
  background: rgba(0, 219, 11, 0.644);
}
.trendArea .trd1 {
  background: #8a82cc;
}
.trendArea .trd2 {
  background: #ffa782;
}
.trendArea .trd3 {
  background: #f5d005;
}
.trendArea .trd4 {
  background: #559ac8;
}

.sprLine {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprLine .line {
  border-top: 2px dashed #559ac8bb;
  height: 0px;
  width: 45%;
}
.sprLine img {
  width: 24px;
  height: 24px;
  margin: 3px;
}

.content {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-size: 36px;
  color: #8a82cc;
  margin-bottom: 24px;
}

.loader {
  background: url(../images/loading_icon.svg) no-repeat center;
  width: 100px;
  height: 180px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.locationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 44px;
}
.locationList li {
  width: 45.3%;
  margin-bottom: 36px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.locationList li .banner {
  position: relative;
  height: 155px;
  width: 464px;
}
.locationList li .banner h3 {
  color: #fff;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;
  border-radius: 2px;
  position: absolute;
  top: 75.4%;
  left: 5%;
}
.locationList li .banner h4 {
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 3px;
  border-radius: 2px;
  position: absolute;
  top: 80.6%;
  right: 5%;
}
.locationList .locationInfo {
  padding: 22px 26px;
  position: relative;
}
.locationList .openhour, .locationList .address, .locationList .tel {
  font-size: 16px;
  margin-bottom: 16px;
}
.locationList .ticket {
  position: absolute;
  top: 66%;
  left: 75%;
}
.locationList .openhour::before {
  content: url(../images/icons_clock.png);
  margin-right: 9px;
}
.locationList .address::before {
  content: url(../images/icons_pin.png);
  margin-right: 9px;
}
.locationList .tel::before {
  content: url(../images/icons_phone.png);
  margin-right: 9px;
}
.locationList .ticket::before {
  content: url(../images/icons_tag.png);
  margin-right: 9px;
}

.pages {
  display: flex;
  font-size: 14px;
  margin-bottom: 39px;
}
.pages > a {
  margin: 4px 26.5px;
  color: #4a4a4aff;
}
.pages .pagesList {
  display: flex;
}
.pages .pagesList a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 4px;
  color: #4a4a4aff;
}
.pages a:hover {
  color: #559ac8;
}

.scrollTop {
  display: none;
}
.scrollTop a {
  position: fixed;
  right: 28px;
  bottom: 180px;
  padding: 8px 10px;
  background: #559ac8aa;
  color: #fff;
}
.scrollTop a:hover {
  background: #559ac8;
}

.footer {
  background: #559ac8;
  text-align: center;
  font-size: 14px;
  padding: 24px;
}
.footer h5 {
  color: #fff;
  margin-bottom: 15px;
}
.footer p {
  color: #ffd366;
}

/*# sourceMappingURL=style.css.map */
